




#carousel {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

#imagesTarget {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img { height: 100%;
    width: 100%;
    object-fit: cover;}

#carousel i{
    font-size: 30px;
    position: absolute;
    color: black;
    bottom: 70%;
    height: 10px;
    z-index: 1;
}

#carousel .button-left{
    right: 105%;
}

#carousel .button-right{
    left: 105%;
}