




#carousel {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.immagini {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

img { margin: 0 auto; 
    max-width: 100%;
}

#carousel i{
    font-size: 30px;
    position: absolute;
    color: black;
    bottom: 50%;
    height: 10px;
    z-index: 1;
}

#carousel .button-left{
    right: 105%;
}

#carousel .button-right{
    left: 105%;
}